<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><h3> Amount </h3></th>
        <th scope="col"><h3>Value </h3></th>
        <th scope="col"><h3> Quantity </h3></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.amount %></td>
          <td><%= transaction.value %></td>
          <td style="text-align: center;"><%= transaction.quantity %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <div>
    <%= link_to "Back to User", users_show_path %> |
  </div>
</div>
